@media screen and (min-width: 900px) {
  html.wide-page .layout {
    max-width: 90vw;
  }

  html.wide-page .layout > .aside-content {
    display: none;
  }

  html.wide-page .layout > div:first-child {
    width: 100% !important;
  }

  #rightside #wide-mode-btn.is-active {
    background-color: var(--btn-hover-color);
    color: var(--btn-color);
  }
}
